
a {
    text-decoration: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 8px 12px;
}


.navbar__logo{
    
    font-size: 1.3rem;
    color: black;
}

.navbar__logo a {
    padding-left: 8px;
    color: black;
    font-family: 'Poppins';
    font-weight: 500;
}

.navbar__menu {
    display: flex;
    list-style:none;
    padding-left:0;
}

.navbar__menu li {
    padding: 8px 12px;
}

.navbar__menu li a {
    color: #5f5f79;
}

.navbar__menu li a:hover {
    color:coral;
}

.navbar__loginMenus {
    display: flex;
    list-style: none;
    padding-left:0;
}
.navbar__loginMenus li {
    
    padding: 8px 12px;
}
.navbar__loginMenus li a {
    color: #5f5f79;
    cursor: pointer;

}

.navbar__loginMenus li a:hover {
    color: coral;
}

.navbar__icons {
    list-style: none;
    color: white;
    display: flex;
    padding-left:0;
}

.navbar__icons li{
    padding: 8px 12px;
    color: #5f5f79;
}

.navbar__toggleBtn{
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: #d49466;
    display: none;
}

@media screen and (max-width:768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .navbar__menu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        
    }
    .navbar__menu li{
        width:100%;
        text-align: center;
    }
    .navbar__loginMenus{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        
    }
    .navbar__loginMenus li{
        width:100%;
        text-align: center;
    }
    .navbar__icons{
        display: none;
        width: 100%;
        justify-content: center;
    }
    
    .navbar__toggleBtn{
        display: block;
    }

    .navbar__menu.active,
    .navbar__icons.active,
    .navbar__loginMenus.active{
        display:flex;
    }
}